@charset "UTF-8";

@font-face {
	font-family: Eagle;
	src:url(assets/Eagle.otf);
}
body, #gray{
	background-color:#006da6;
}
h1{
	color:#ffffff;
	font-family:Eagle;
	text-align:center;
	font-size:80px;
	margin-top:300px;
}
h3{
    color:#ffffff;
    font-family:Eagle;
    text-align:center;
    font-size:40px;
    margin-top:-50px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
#newyork{
	position:absolute;
	right:0px;
	bottom:0px;
}
#prepforprep{
    position: absolute;
    top: 10px;
    left: 10px;
}
#friendsseminary{
    position: absolute;
    top:10px;
    right:10px;
}
#desktop{
    position: absolute;
    bottom: 0px;
    left: 30px;
}