html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #363636;
    overflow: hidden;
}

#title{
    margin: auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    transform: translateY(-50%);
    text-align: center;
    display: none;
    transition: transform .5s, right .5s;
}

#subtitle{
    transition: all .5s;
}

#navbar{
    font-size: 20px;
    color: #efefef;
    white-space: nowrap;
    display: none;
}

h1{
    font-size: 80px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
}

h2{
    margin-top: -45px;
    font-size: 40px;
    color: #60d4ff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

h3{
    font-size: 36px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    color: #60d4ff;
}

h4{
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}

h5{
    font-size: 18px;
    font-weight: normal;
    font-family: 'Quicksand', sans-serif;
    color: #d1d1d1;
    margin-top: -20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.navlink{
    font-size: 40px;
    padding-left: .5em;
    padding-right: .5em;
    transition: color 1s;
}

#email{
    font-size: 36px;
    vertical-align: 2px;
}

.navlink:hover{
    color: #60d4ff;
    cursor: pointer;
}

#sidebarTab {
    position: absolute;
    top: inherit; left: 50%; bottom: -10px; right: inherit;
    transform: translateX(-50%);
    background-color: #212121;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transition: all .5s;
}

@media (min-width: 700px){
    #sidebarTab {
        top: 50%; left: inherit; bottom: inherit; right: -10px;
        transform: translateY(-50%);
        width: 40px;
        height: 100px;
    }
}

#sidebar{
    position: absolute;
    height: 50%;
    width: 100%;
    top: inherit; left: 0; right: inherit; bottom: -50%;
    background-color: #212121;
    transition: all .5s;
    text-align: center;
    overflow-y: auto;
}

@media (min-width: 700px){
    #sidebar{
        width: 30%;
        height: 100%;
        top: 0; left: inherit; right: -30%; bottom: inherit;
    }
}

#sidebarTab:hover{
    cursor: pointer;
    background-color: #1a1a1a;
}

#arrow {
    color: white;
    margin-left: 8px;
    font-size: 29px;
}

.projectImg{
    width: 80%;
    border: solid 5px #d1d1d1;
    border-radius: 10px;
    transition: border 1s;
}

.projectImg:hover{
    cursor: pointer;
    border: solid 5px #60d4ff;
}

.project{
    margin-left: 5%;
    margin-top: 40px;
    padding-top: 40px;
    border-top: solid .1px white;
    width: 90%;
}