@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
}

h5 {
    font-size: 24px !important;
    color: #8d8d8d !important;
    margin-top: -10px !important;
}

hr {
    border: 1px solid #ccc;
}

img {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

#net-extent h5 {
    color: #cbcbcb !important;
}

#authenticate h5 {
    color: #e2e2e2 !important;
}