@charset "UTF-8";

@font-face {
	font-family: Eagle;
	src:url(../assets/Eagle.otf);
}
body, #gray{
	background-color:darkred;
}
h1{
	color:#ffffff;
	font-family:Eagle;
	text-align:center;
	font-size:80px;
	margin-top:300px;
}
h3{
    color:#ffffff;
    font-family:Eagle;
    font-size:40px;
}
#albumtitle{
    position: absolute;
    left:183px;
    top:100px;
}
#songtitle{
    position: absolute;
    left:585px;
    top:100px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
#jimihendrix{
    position: absolute;
    right:42%;
    top:20px;
}
#angusyoung{
    position: absolute;
    right:0px;
    bottom:0px;
}
#favalbum{
    position: absolute;
    left:180px;
    top:200px;
}
#favsongs{
    position: absolute;
    left:580px;
    top:200px;
}